*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 450px;
}

#navbar{
  width: 100%;
  height: 60px;
  background-color: #d9c8b4;
  color: #591925;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cover{
  position: relative;
}

#fade-text{
  width: 350px;
  position: Absolute;
  margin-left: 30px;
  margin-top: 50px;
  font-size: 40pt;
  opacity: 1;
  color: #232526;
  
}

#guitar-cover{
  height: 1000px;
  float: right;
  margin-top: 100px;
}
